body {
  background-color: #fcfbf6;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;

  div, h1, h2, h3 {
    @extend %standard-font;
    font-weight: normal;
    margin: 0;
  }

  display: flex;
  align-items: center;
  flex-direction: column;

  margin: 0;


  a {
      color: #839494;
      text-decoration: none;

      &:hover {
        color: #f7941e;
      }
  }


}
